<div class="footer">
    <div class="row footer-container">
        <div class="col-9">
        </div>
        <div class="col-3">
            <img class="image" src="assets/images/logo_gmail.png"> Gmail
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            Buscamos realizar tu proceso de compra de ticket mas rapido con nuestros sistemas 
        </div>
        <div class="col-3">
                <h4>Buscanos en nuestras redes</h4></div>
        <div class="col-3">
            <img class="image" src="assets/images/logo_ig.png">Instagram
        </div>
    </div>
    <div class="row">
        <div class="col-9">
        </div>
        <div class="col-3">
            <img class="image" src="assets/images/logo_ws.png">Whatsapp
        </div>
    </div>
</div>